/* ************************************GENERAL*************************************************** */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    vertical-align: top;
  }


  body {
    font-family: "Oswald", sans-serif;
    color: white;
  }

  a {
    text-decoration: none;
    color: white;
  }

/* :root {
    --blue: #1e90ff;
    --white: #ffffff;
  } */

/* **************************************HEADER****************************************************** */
header {
  display: flex;  
  justify-content: space-between;
  align-items: center;
  background-color: black;
  opacity: 70%;
  padding: 30px;  
  position: absolute;
  width: 100%;
}


nav a {
  /* justify-content: space-between; */
  padding: 0 50px 0 50px;
} 

.social_media {
  justify-content: space-between;
}