/* *************************************************RESPONSIVE DESIGN********************************************** */
/* Smartphones (portrait and landscape) */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {

    /* HEADER */
    .navigateur {
      padding: 15px;
    }
    
    .burger-menu {
      display: block;
      position: absolute;
      top: 10px;
      right: 25px;
      color: white;
  
    }
    .menu {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 50px;
      right: 10px;
      background: rgba(0, 0, 0, 0.9);
      padding: 50px;
      width: 90%;
      font-size: 1.5em;;
      gap: 100px;
      text-align: center;
    }
    .menu.open {
      display: flex;
    }
    .social_media {
      display: none;
    }
    .illustration img {
      width: 80%;
    }
    
    /* BANDEAU CITATION */
    .bandeau_citation {
      padding: 15px;
      font-size: 1.5em;
      font-weight: 400;
      color: white;
      text-align: center;
      line-height: 30px;;
      }
    
    
    /* CONTENAIRS */
    /* BLOCK1 */
    .traditions {
      display: flex;
      flex-direction: column;
      } 
      
      .beer_tradition {
        padding: 20px;
      }

      .beer_tradition h1 {
      font-size: 3em;
      }
      
      .beer_tradition h2 {
      padding-bottom: 10px;
      font-size: 1em;
      }
      
      .beer_tradition p {
      padding: 0 20px 0 20px;
      line-height: 20px;
      }
      
      .beer_tradition input {
      padding: 10px 50px 10px 50px;
      margin: 20px 0 15px 0;
      }
      
      /* BLOCK 2 + 3  */
    
        .illustration_tonneau {
          position: relative;
          left: 50%;
          transform: translateX(-50%); 
      }
        
        
        .image-container2 {
        position: relative;
        width: 100%;
        background-image: url(img/back5.jpg);
        background-size: cover;
        }
        
        .illustration_biere {
        display: none;
        }
    
      /* BLOCK 4 */
      .pub_story {
        padding: 20px;;
      }

      .pub_story h2 {
        font-size: 3em;
        }
        
      .pub_story h3 {
        padding-bottom: 10px;
        font-size: 1em;
      }
        
      .pub_story p {
        padding: 0 20px 0 20px;
        line-height: 20px;
      }
        
      .pub_story input {
        padding: 10px 50px 10px 50px;
        margin: 20px 0 15px 0;
      }
    
    /* GALERIE */
  
    .overlay {
      width: 100%;
    }
    .plus {
      font-size: 60px; 
    }
    .galerie {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      }
      
      .photo {
      position: relative;
      width: 50%;
      }
      
      .photo img {
      width: 100%;
    
      }
    
    /* SERVICES */
    .services {
      display: grid;
      grid-template-columns: 1fr 1fr ;
      grid-template-rows: 1fr 1fr;
      margin: 10px 0 10px 0s;
      } 
      
      .services div {
      padding: 10px;
      } 
      
      .services p {
      padding-top: 10px;
      line-height: 25px;
      font-size: 0.9em;
      }  
    
    /* PARALLAXE */
    .parallaxe {
      padding: 25px;
      color: white;
      text-align: center;
      }
      
    }
    
    @media screen and (min-device-width: 480px) and (max-device-width: 900px) and (orientation: landscape) {
      /* HEADER */
    .navigateur {
      padding: 15px;
    }
    .illustration img {
      width: 80%;
    }
    .logo {
      width: 130px;
    }
    
    .social_media a {
      display: none;
    }
    
    /* BANDEAU CITATION */
    .bandeau_citation {
      padding: 25px;
      font-size: 1.5em;
      font-weight: 400;
      color: white;
      text-align: center;
      line-height: 30px;;
      }
    
    
    /* CONTENAIRS */
    /* BLOCK1 */
    .traditions {
      display: flex;
      flex-direction: column;
      } 
      
      .beer_tradition {
        padding: 15px;
      }

      .beer_tradition h1 {
      font-size: 3em;
      }
      
      .beer_tradition h2 {
      padding-bottom: 10px;
      font-size: 1em;
      }
      
      .beer_tradition p {
      padding: 0 20px 0 20px;
      line-height: 20px;
      }
      
      .beer_tradition input {
      padding: 10px 50px 10px 50px;
      margin: 20px 0 15px 0;
      }
      
      /* BLOCK 2 + 3  */
    
      .illustration_tonneau {
        position: relative;
        left: 50%;
        transform: translateX(-50%); 
      }
        
        .illustration_biere {
        display: none;
        }
    
      /* BLOCK 4 */
      .pub_story {
        padding: 15px;
      }
      
      .pub_story h2 {
        font-size: 3em;
        }
        
      .pub_story h3 {
        padding-bottom: 10px;
        font-size: 1em;
      }
        
      .pub_story p {
        padding: 0 20px 0 20px;
        line-height: 20px;
      }
        
      .pub_story input {
        padding: 10px 50px 10px 50px;
        margin: 20px 0 15px 0;
      }
    
    /* GALERIE */
    .plus {
      font-size: 80px; 
    }
    .overlay {
      width: 100%;
    }
    
    /* SERVICES */
    .services {
      display: grid;
      grid-template-columns: 1fr 1fr ;
      grid-template-rows: 1fr 1fr;
      margin: 10px 0 10px 0s;
      } 
      
      .services div {
      padding: 10px;
      } 
      
      .services p {
      padding-top: 10px;
      line-height: 25px;
      font-size: 0.9em;
      }  
    
    /* PARALLAXE */
    .parallaxe {
      padding:40px;
      color: white;
      text-align: center;
      }
    }